
/*estilos pag montissori*/
/*Pie Pagina*/
.montiFooter__imgRsf {
    width: 35px;
    height: 35px; }
 
      
      .nameJuego {
        color: #FFA45B;
        font-family: 'Style Script', cursive;
        margin-left: 15px;
        margin-top: 5px;
        font-size: 25px;
         }